<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CalculateMortgageServlet</servlet-name>
        <servlet-class>mortgage_calculator.CalculateMortgageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OneLinerServlet</servlet-name>
        <servlet-class>one_liner.OneLinerServlet</servlet-class>
        <init-param>
            <param-name>oneLineFile</param-name>
            <param-value>onelinelist.txt</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalculateMortgageServlet</servlet-name>
        <url-pattern>/CalculateMortgageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OneLinerServlet</servlet-name>
        <url-pattern>/OneLinerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
