body {
 font-family: san-serif;
}
.bracket {
 border:1px solid #339955;
 background-color: #E8E8E8;
 width: 180px;
 height: 20px;
 font-size: 11px;
 position: absolute;
 top:0; left: 0;
 line-height: 20px;
 padding-left: 7px;
}
.bracket span {
 float: right;
 width: 20px;
 height: 20px;
 border-left: 1px solid #339955;
 text-align: center;
}
.commentary {
 margin-top:820px;
}

.p32-0-1,.p32-0-2,
.p32-1-1,.p32-1-2,
.p32-2-1,.p32-2-2,
.p32-3-1,.p32-3-2,
.p32-4-1,.p32-4-2,
.p32-5-1,.p32-5-2,
.p32-6-1,.p32-6-2,
.p32-7-1,.p32-7-2,
.p32-8-1,.p32-8-2,
.p32-9-1,.p32-9-2,
.p32-10-1,.p32-10-2,
.p32-11-1,.p32-11-2,
.p32-12-1,.p32-12-2,
.p32-13-1,.p32-13-2,
.p32-14-1,.p32-14-2,
.p32-15-1,.p32-15-2 {
 left: 20px;
}

.p32-16-1,.p32-16-2,
.p32-17-1,.p32-17-2,
.p32-18-1,.p32-18-2,
.p32-19-1,.p32-19-2,
.p32-20-1,.p32-20-2,
.p32-21-1,.p32-21-2,
.p32-22-1,.p32-22-2,
.p32-23-1,.p32-23-2,
.p32-24-1,.p32-24-2,
.p32-25-1,.p32-25-2,
.p32-26-1,.p32-26-2,
.p32-27-1,.p32-27-2,
.p32-28-1,.p32-28-2,
.p32-29-1,.p32-29-2,
.p32-30-1,.p32-30-2,
.p32-31-1,.p32-31-2 {
 left: 2120px;
}

.p16-0-1,.p16-0-2,
.p16-1-1,.p16-1-2,
.p16-2-1,.p16-2-2,
.p16-3-1,.p16-3-2,
.p16-4-1,.p16-4-2,
.p16-5-1,.p16-5-2,
.p16-6-1,.p16-6-2,
.p16-7-1,.p16-7-2 {
 left: 230px;
}

.p16-8-1,.p16-8-2,
.p16-9-1,.p16-9-2,
.p16-10-1,.p16-10-2,
.p16-11-1,.p16-11-2,
.p16-12-1,.p16-12-2,
.p16-13-1,.p16-13-2,
.p16-14-1,.p16-14-2,
.p16-15-1,.p16-15-2 {
 left: 1910px;
}

.p8-0-1,.p8-0-2,
.p8-1-1,.p8-1-2,
.p8-2-1,.p8-2-2,
.p8-3-1,.p8-3-2 {
 left: 440px;
}

.p8-4-1,.p8-4-2,
.p8-5-1,.p8-5-2,
.p8-6-1,.p8-6-2,
.p8-7-1,.p8-7-2 {
 left: 1700px;
}

.p4-0-1,.p4-0-2,
.p4-1-1,.p4-1-2 {
 left: 650px;
}
.p4-2-1,.p4-2-2,
.p4-3-1,.p4-3-2 {
 left: 1490px;
}

.p2-0-1,.p2-0-2 {
 left: 860px;
}
.p2-1-1,.p2-1-2 {
 left: 1280px;
}

.p1-0-1,.p1-0-2 {
 left: 1070px;
}


.p32-0-1, .p32-16-1 { top: 10px; }
.p32-0-2, .p32-16-2 { top: 30px; }
.p32-1-1, .p32-17-1 { top: 60px; }
.p32-1-2, .p32-17-2 { top: 80px; }

.p32-2-1, .p32-18-1 { top: 110px; }
.p32-2-2, .p32-18-2 { top: 130px; }
.p32-3-1, .p32-19-1 { top: 160px; }
.p32-3-2, .p32-19-2 { top: 180px; }

.p32-4-1, .p32-20-1 { top: 210px; }
.p32-4-2, .p32-20-2 { top: 230px; }
.p32-5-1, .p32-21-1 { top: 260px; }
.p32-5-2, .p32-21-2 { top: 280px; }

.p32-6-1, .p32-22-1 { top: 310px; }
.p32-6-2, .p32-22-2 { top: 330px; }
.p32-7-1, .p32-23-1 { top: 360px; }
.p32-7-2, .p32-23-2 { top: 380px; }

.p32-8-1, .p32-24-1 { top: 410px; }
.p32-8-2, .p32-24-2 { top: 430px; }
.p32-9-1, .p32-25-1 { top: 460px; }
.p32-9-2, .p32-25-2 { top: 480px; }

.p32-10-1, .p32-26-1 { top: 510px; }
.p32-10-2, .p32-26-2 { top: 530px; }
.p32-11-1, .p32-27-1 { top: 560px; }
.p32-11-2, .p32-27-2 { top: 580px; }

.p32-12-1, .p32-28-1 { top: 610px; }
.p32-12-2, .p32-28-2 { top: 630px; }
.p32-13-1, .p32-29-1 { top: 660px; }
.p32-13-2, .p32-29-2 { top: 680px; }

.p32-14-1, .p32-30-1 { top: 710px; }
.p32-14-2, .p32-30-2 { top: 730px; }
.p32-15-1, .p32-31-1 { top: 760px; }
.p32-15-2, .p32-31-2 { top: 780px; }

.p16-0-1, .p16-8-1 { top: 35px;}
.p16-0-2, .p16-8-2 { top: 55px;}

.p16-1-1, .p16-9-1 { top: 135px;}
.p16-1-2, .p16-9-2 { top: 155px;}

.p16-2-1, .p16-10-1 { top: 235px;}
.p16-2-2, .p16-10-2 { top: 255px;}

.p16-3-1, .p16-11-1 { top: 335px;}
.p16-3-2, .p16-11-2 { top: 355px;}

.p16-4-1, .p16-12-1 { top: 435px;}
.p16-4-2, .p16-12-2 { top: 455px;}

.p16-5-1, .p16-13-1 { top: 535px;}
.p16-5-2, .p16-13-2 { top: 555px;}

.p16-6-1, .p16-14-1 { top: 635px;}
.p16-6-2, .p16-14-2 { top: 655px;}

.p16-7-1, .p16-15-1 { top: 735px;}
.p16-7-2, .p16-15-2 { top: 755px;}

.p8-0-1, .p8-4-1 { top: 85px;}
.p8-0-2, .p8-4-2 { top: 105px;}

.p8-1-1, .p8-5-1 { top: 285px;}
.p8-1-2, .p8-5-2 { top: 305px;}

.p8-2-1, .p8-6-1 { top: 485px;}
.p8-2-2, .p8-6-2 { top: 505px;}

.p8-3-1, .p8-7-1 { top: 685px;}
.p8-3-2, .p8-7-2 { top: 705px;}

.p4-0-1, .p4-2-1 { top: 185px;}
.p4-0-2, .p4-2-2 { top: 205px;}

.p4-1-1, .p4-3-1 { top: 585px;}
.p4-1-2, .p4-3-2 { top: 605px;}

.p2-0-1, .p2-1-1 { top: 390px;}
.p2-0-2, .p2-1-2 { top: 410px;}

.p1-0-1 { top: 390px;}
.p1-0-2 { top: 410px;}